@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
   
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.heading{
    height: 100px;
    background-color: green;
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid black;
    font-size: var(--heading);
}
/*navigation bar start*/
.navigationbar {
    background-color: #333;
    overflow: hidden;
  }
  

.navigationbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.navigationbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
.navigationbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  /*navigation bar end*/
  .continer{
   border: 2px solid black;
   padding: 10px;
   width: 20%;
   margin: 10px auto 0  auto;
   /* position: absolute;
   top: 50%;
   left: 50%; */
   /* transform: translate(-50%,-50%); */
  }
  .button{
    position: relative;

    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  }

  .form{
    width: 100%;
  }

  @media (max-width:800px) {
    .continer{
      width: 90%;
    }
 
    
  }

  .heading{
    color: var(--hari);
  }

  :root{
    --variable:red;
    --heading:36px
  }



  @media (max-width:800px) {
    :root{
      --hari:yellow;
      --heading:26px
    }
    
  }

  .continer{
    border: 2px solid black;
    padding: 10px;
    width: 20%;
    margin: 10px auto 0  auto;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
   }
  
   @media (max-width:141px) {
    .usercontiner{
      width: 90%;
    }
  }